
:root {
    --cambridge-blue: #87b38d;
    --claret: #8b1e3f;
    --dark-purple: #3C153B;
    --vermilion: #DB4C40;
    --dark-slate: #1C5253;
    --my-black: #141313;
}

/*
    MARK: Home Page
*/

.HomePage {
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}

#HomeTop {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: var(--cambridge-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#HomePageContents
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#HomeLeft
{
    width: 33vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HomeLeftContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

#HomeLeftContainer span
{
    margin-bottom: 1vh;
    text-align: center;
}

#AboutButton
{
    margin-top: 1vh;
    padding: 15px 10px;
    width: 21vw;
    font-size: 14pt;
    border-radius: 10px;
    border: 0;
    background-color: var(--vermilion);
    color: white;
}

#HomeRight
{
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.HomeRightContainer
{
    height: 28vh;
    width: 55vw;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}

#HomePageImg
{
    max-width: 20vw;
    margin-bottom: 2vh;
    border-radius: 10px;
}

#HomePageCaption
{
    font-size: 16pt;
}

/*
    MARK: Navigation Bar
*/

.navBar
{
    width: 100%;
    height: 6vh;
    background-color: var(--cambridge-blue);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 2px;
}

.navBar .navCenter
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16pt;
}

/*
    MARK: About Page
*/

#AboutPage
{
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: whitesmoke;
}

/*
    MARK: Project Page 
*/

#ProjectPage {
    background-color: var(--cambridge-blue);
    height: 100vh;
    font-family: "Outfit", sans-serif;
}