
:root {
    --cambridge-blue: #87b38d;
    --claret: #8b1e3f;
    --dark-purple: #3C153B;
    --vermilion: #DB4C40;
    --dark-slate: #1C5253;
    --my-black: #141313;
}

.HomePage {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}

#HomeTop {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#HomeTop h1 {
    position: relative;
    top: 42vh;
    font-family: "Outfit", sans-serif;
}

#HomeTwo {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: var(--my-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#HomeTwo h1 {
    font-size: 40pt;
    margin-top: -5%;
    margin-bottom: 3%;
    color: white;
}

#HomeThree {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#HomeThree h1 {
    font-size: 40pt;
    margin-top: -5%;
    margin-bottom: 3%;
}

#offcanvas-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--claret);
    color: white;
    z-index: 100;
}

#homepage-offcanvas {
    background-color: var(--my-black) !important;
    color: white;
    width: 15%;
}

#homepage-offcanvas .btn-close {
    filter: invert(1);
    padding: 20px 20px;
}

#offcanvas-items {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10%;
    font-family: "Outfit", sans-serif;
}

.offcanvas-item {
    font-size: 28pt;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    margin-bottom: 2%;
}

.offcanvas-button:hover {
    text-decoration: none;
    transition: 0.5;
}

.HomePageCard {
    width: 30vh;
    background-color: var(--vermilion);
}

#cardButton {
    max-width: 6vw;
    margin: 15px 15px;
    margin-top: -5px;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    background-color: var(--dark-slate);
    color: white;
}

#CardHolder
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    flex-wrap: wrap;
}

#socialDiv {
    margin-top: 3%;
}

.socialButton {
    background-color: transparent;
    border: none;
}

.socialIcon {
    width: 48px;
    height:48px;
}

/*
    MARK: Navigation Bar
*/

.navBar
{
    width: 100%;
    height: 6vh;
    background-color: whitesmoke;
    border-bottom: #141313;
    border-width: 2px;
}



/*
    MARK: Project Page 
*/

#ProjectPage {
    background-color: var(--cambridge-blue);
    height: 100vh;
}